{% extends 'base.html.twig' %}

{% block title %}New Factuur{% endblock %}

{% block body %}
    <h1>Create new Factuur</h1>

    {{ include('factuur/_form.html.twig') }}

    <a href="{{ path('factuur_index') }}">back to list</a>
{% endblock %}
